html {
  background: #01002c;
  background: fixed
    linear-gradient(
      343deg,
      rgba(1, 0, 44, 1) 0%,
      rgba(121, 9, 111, 1) 50%,
      rgba(143, 48, 201, 1) 100%
    );
}
* {
  font-family: "Source Code Pro", monospace;
}
h1 {
  color: #1f0f78;
}
.container {
  background-color: rgba(240, 248, 255, 0.676);
  margin: 0 auto;
  margin-top: 3cm;
  width: 18cm;
  height: 9.2cm;
  text-align: center;
  padding: 7mm 2mm 2mm 2mm;
  border-radius: 18px;
}
.input-box {
  margin: 16mm auto 3mm;
  display: flex;
  align-items: start;
  justify-content: center;
}
#generated-password {
  width: 10cm;
  height: 0.9cm;
  font-size: 19px;
  margin-right: 2mm;
  padding-left: 3mm;
  border-radius: 10px;
}
#selector {
  width: 1cm;
  height: 0.9cm;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
}
#generate-button {
  height: 1cm;
  width: 3.7cm;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1e0645;
  color: #d7d7d7;
}
#selector,
#generate-button,
#generated-password {
  border: none;
}
.fa-clipboard {
  font-size: 30px;
  margin: 5mm 2mm 0 0;
  color: #1e0645;
  cursor: pointer;
}
.fa-clipboard:hover,
#generate-button:hover {
  opacity: 50%;
}
#notification {
  background-color: rgba(128, 177, 218, 0.936);
  width: 5cm 17cm;
  height: 0.6cm;
  position: absolute;
  bottom: 1cm;
  right: 0.6cm;
  font-size: 17px;
  border-radius: 22px;
  padding: 3.5mm;
}
